.app-header {
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight:500;

    nav {
        gap: 15px;

        ul {
            gap: 15px;
        }
        .login-btn {
            background-color: $clr2;
            color: $clr5;
            padding: 8px 12px;
            font-weight: 500;
            border-radius: 3px;
        }
    }
}