.city-filter {
    width: 100%;
    input {
        padding: 8px 12px;
        text-align: center;
        border: none;
        border-radius: 3px;
        outline: none;
        width: 100%;
    }
    @include for-normal-layout {
        max-width: 70%;
    }
}

