.city-filter {
    input {
        padding: 8px 12px;
        // width: 80vw;
        text-align: center;
        border: none;
        border-radius: 3px;
        outline: none;
        // max-width: 100%;
        width: 100%;
    }
    // max-width: 100%;
    // margin: 0;
    width: 100%;
    @include for-normal-layout {
        // margin: auto;
        max-width: 70%;
        input {
            // width: 40vw;
            // width: 50vw;
        }
    }
}

