.alert {
    position: absolute;
    top:0;
    right:0;
    color:#fefefe;
    padding: 10px;
    font-size: rem(16px);
    border-radius: 3px;
}

.alert-success {
    background-color: rgb(79, 204, 79);
}
.alert-faild {
    background-color: rgb(192, 60, 60);
}